<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tweets', '100'],
          ['positive', <%= @positivecount %>],
          ['negative', <%= @negativecount %>]
        ]);

        var options = {
          title: '<%= @title %>',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    </script>
  
<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Tweet', 'Positive', 'Negative'],
          ['100', <%= @positivecount %>, <%= @negativecount %>]
        ]);

        var options = {
          title: '<%= @title %>',
          vAxis: {title: 'Tweet',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </br>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    
    
  

